@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----Over ons-----*/
#over-ons {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555 !important;
}

#over-ons .btn {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #3d8d59 !important;
}

.over-content {
  padding-top: 20px;
}


/*-----Team----*/
#team {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #555 !important;
}
#team .btn {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #3d8d59 !important;
}

h1 {
  text-align: center;
  color: #555;
  padding-bottom: 10px;
}
h1::after {
  content: "";
  background: #3d8d59;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.profile-pic {
  margin-top: 25px;
}

.profile-pic .img-box img {
  /* filter: grayscale(1); */
  height: 200px;
  /* padding-left: 198px; */
}

.profile-pic .img-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
  /* transform: scale(1.35); */
}

.profile-pic h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #3d8d59 !important;
}

.profile-pic h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

/* ----Footer----*/
.navbar-inverse {
  background: #3d8d59;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

/*----Werkwijze----*/

#werkwijze {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #3d8d59 !important;
}

#werkwijze .btn {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #3d8d59 !important;
}

.werkwijze-content {
  padding-top: 10px;
  color: #555 !important;
}

/*----Assortiment----*/

#assortiment {
  padding-top: 20px;
  /* padding-bottom: 50px; */
  color: #3d8d59 !important;
  background-color: FAFAFA;
}

#assortiment .btn {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #3d8d59 !important;
}

.assortiment-content {
  padding-top: 10px;
  color: #555 !important;
  /* padding-bottom: 10px; */
}

.indexTitle {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
  color: white;
}

h1.title {
  color: white;
}

/* Rest */

#error {
  padding-top: 30px;
  padding-bottom: 50px;
}

#vacatures {
  padding-top: 30px;
}

.vacatures-content {
  padding-top: 15px;
  color: #555;
  box-sizing: border-box;
}

.vacatures-content ul {
  list-style: inside;
}

#sitemap {
  padding-top: 30px;
  padding-bottom: 50px;
}

#bedrijf {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* ---- Form ---- */
#contact {
  padding-top: 30px;
  padding-bottom: 50px;
}
#login {
  padding-top: 100px;
  padding-bottom: 50px;
}
#register {
  padding-top: 30px;
  padding-bottom: 50px;
}

.container-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  resize: none;
}
#form-submit {
  padding: 15px;
  background: #3d8d59;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
}




/* Flowers */
#flowers {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555 !important;
}

#flowers img {
  width: 100%;
  padding-left: 50px;
}

#flowers .container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* ---- Table ---- */
.table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.table a, .table a:hover{
  color: inherit;
}

@media (max-width: 1309px) {
  #flowers .container-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #flowers img {
    width: 500px;
  }
}
